.footer {
  background-color: lightblue;
  width: 100%;
  box-shadow: 0 50vh 0 50vh lightblue;
  text-align: center;
  margin-top: 2em;
}

.image-scale {
  height: 3em;
  width: 3em;
}

.col-center {
  text-align: center;
}
