.col-border {
  border: solid grey;
  border-width: 1 1px;
}

.div:hover {
  border: solid green;
  border-width: 1 1px;
}

.container-height {
  height: 600px;
}

.col-align {
  text-align: center;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.row-spacer {
  margin-bottom: 2em;
}
